include mixins

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width")
		meta(name="description" content="")

		title yoga
		link(rel="stylesheet" href=`/css/main.css?v=${Date.now()}`)

	body
		.feature-block 
			.feature-block__head
				h2.feature-block__head__title Reasons to Choose Us
				p.feature-block__head__text Behind our commitment to excellence are few key attributes that define who we are and what makes us different from any other.
			.feature-block__cards
				.feature-block__cards__aqua
					h3.feature-block__cards__aqua__title - Residential Cleaning
				.feature-block__cards__blue
					.feature-block__cards__blue__content
						h3.feature-block__cards__blue__content__title - Awesome feature
						p.feature-block__cards__blue__content__text What is portfolio template in the page attributes Default and full width templates are self-explanatory,
						button.feature-block__cards__blue__content__button
				.feature-block__cards__yellow
					.feature-block__cards__yellow__content
						h3.feature-block__cards__yellow__content__title - Awesome feature
						p.feature-block__cards__yellow__content__text What is portfolio template in the page attributes Default and full width templates are self-explanatory,
						button.feature-block__cards__yellow__content__button
				.feature-block__cards__pink
					h3.feature-block__cards__pink__title - QULAITY CLEANING TOOLS



		script(src=`/js/vendor.js?v=${Date.now()}`)
		script(src=`/js/main.js?v=${Date.now()}`)
