include mixins

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width")
		meta(name="description" content="")

		title Professional Cleaning Service
		link(rel="stylesheet" href=`/css/main.css?v=${Date.now()}`)

	body
		.option-block
			.option-block__head
				h2.option-block__head__title Choose your option
				p.option-block__head__text There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web

			.slick-slider.slick-theme.center
				.slide
					.slide-2
						span.slide-2__number 02
						h3.slide-2__title Comercial cleaning
						p.slide-2__text Bielefeld is 100% responsive, each and every element are fully responsive
					a.slide__button(href="#") DETAILS
				.slide
					.slide-3 
						span.slide-3__number 03
						h3.slide-3__title Window cleaning
						p.slide-3__text We're the team with always hear from your needs. So, Bielefeld will always be the first
					a.slide__button(href="#") DETAILS
				.slide
					.slide-1
						span.slide-1__number 01
						h3.slide-1__title Apartment cleaning
						p.slide-1__text Get a high quality support service with us, We have dedicated support team waiting for your ticket.
					a.slide__button(href="#") DETAILS			
				.slide
					.slide-2
						span.slide-2__number 02
						h3.slide-2__title Comercial cleaning
						p.slide-2__text Bielefeld is 100% responsive, each and every element are fully responsive
					a.slide__button(href="#") DETAILS
				.slide
					.slide-3 
						span.slide-3__number 03
						h3.slide-3__title Window cleaning
						p.slide-3__text We're the team with always hear from your needs. So, Bielefeld will always be the first
					a.slide__button(href="#") DETAILS
				.slide
					.slide-1
						span.slide-1__number 01
						h3.slide-1__title Apartment cleaning
						p.slide-1__text Get a high quality support service with us, We have dedicated support team waiting for your ticket.
					a.slide__button(href="#") DETAILS		


		script(src=`/js/vendor.js?v=${Date.now()}`)
		script(src=`/js/main.js?v=${Date.now()}`)
