include mixins

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width")
		meta(name="description" content="")

		title Professional Cleaning Service
		link(rel="stylesheet" href=`/css/main.css?v=${Date.now()}`)

	body
		.service-block
			.service-block__head
				h2.service-block__head__title Our Cleaning Services
				p.service-block__head__text There are a number of features that make RandomText a little different from other Lorem Ipsum dummy text generators you may find around the web
			
			div(class="owl-carousel owl-theme owl-1")
				.service-card
					img.service-card__picture(src='/images/pictures/service_cards/1/picture.jpg' alt='Pic')
					.service-card__text
						h3.service-card__text__title Apartment cleaning
						p.service-card__text__text Get a high quality support service with us, We have dedicated support team waiting  for your ticket.
					a.service-card__button(href="#") DETAILS
				.service-card
					img.service-card__picture(src='/images/pictures/service_cards/2/picture.jpg' alt='Pic')
					.service-card__text
						h3.service-card__text__title Comercial cleaning
						p.service-card__text__text We use the most excellent quality tools and equipment to get all the dust and dirt out of your premises.
					a.service-card__button(href="#") DETAILS
				.service-card
					img.service-card__picture(src='/images/pictures/service_cards/3/picture.jpg' alt='Pic')
					.service-card__text
						h3.service-card__text__title Window cleaning
						p.service-card__text__text We use biodegradable products which do not harm the environment, pets or humans in any way.
					a.service-card__button(href="#") DETAILS
				.service-card
					img.service-card__picture(src='/images/pictures/service_cards/1/picture.jpg' alt='Pic')
					.service-card__text
						h3.service-card__text__title Apartment cleaning
						p.service-card__text__text Get a high quality support service with us, We have dedicated support team waiting  for your ticket.
					a.service-card__button(href="#") DETAILS
				.service-card
					img.service-card__picture(src='/images/pictures/service_cards/2/picture.jpg' alt='Pic')
					.service-card__text
						h3.service-card__text__title Comercial cleaning
						p.service-card__text__text We use the most excellent quality tools and equipment to get all the dust and dirt out of your premises.
					a.service-card__button(href="#") DETAILS
				.service-card
					img.service-card__picture(src='/images/pictures/service_cards/3/picture.jpg' alt='Pic')
					.service-card__text
						h3.service-card__text__title Window cleaning
						p.service-card__text__text We use biodegradable products which do not harm the environment, pets or humans in any way.
					a.service-card__button(href="#") DETAILS
					
							



		script(src=`/js/vendor.js?v=${Date.now()}`)
		script(src=`/js/main.js?v=${Date.now()}`)

